body {
    margin: 0;
    font-family: sans-serif;
    background-color: #000;
    color: #fff;
  }
  .container {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .column {
    flex: 1;
    background-color: #000;
    text-align: center;
    border: 1px solid #000;
  }

  /* #region Gallery Block Styles */
  .gallery-block {
    padding: 120px 147px;
  }

  .column img {
    width: 100%;
  }

  .image-column {
    display: flex;
    flex-direction: column;
    font-family: OpenSans;
    align-items: center;
    gap: 10px;
  }

  .description-title {
    font-size: 30px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: 1.5px;
    padding: 0 0 30px;
  }

  .description-content {
    font-size: 21px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    padding: 10px 0;
  }

  .description-column {
    text-align: left;
    padding-left: 30px;
  }

  .caption-title {
    color: #cf1430;
  }

  .caption-content {
    font-size: 21px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
  }

  /* Image Modal*/
  .thumbnail {
    cursor: pointer;
    transition: 0.3s;
  }
  .thumbnail:hover {
    opacity: 0.7;
  }
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.8);
  }
  
  .modal-content {
    display: block;
    margin: auto;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    width: 30%;
    max-width: 600px;
    animation: zoom 0.3s ease-in-out;
  }
  
  @keyframes zoom {
    from { transform: scale(0.5); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
  }
  
  .close {
    position: absolute;
    top: 20px; right: 35px;
    color: white;
    font-size: 40px;
    cursor: pointer;
    z-index: 1;
  }
  
  /* End of Image Model */

  /* #endregion */

  /* #region Card Block Styles */
  .card-block {
    padding: 0px 147px;
  }
  .card-title-section {
    margin: 120px auto 70px auto;
    width: 312px;
    height: 33px;
    font-family: OpenSans;
    font-size: 30px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: 1.5px;
    text-align: center;
  }

  .card-name {
    font-family: OpenSans;
    font-size: 21px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    margin: 30px 0;
  }

  .card-description {
    margin: auto;
    width: 315px;
    font-family: OpenSans;
    font-size: 21px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
  }

  /* #endregion */
  
  /* Responsive breakpoint */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      padding: 2px;
    }
    .description-column {
      padding: 2px;
    }
    .card-block {
      padding: 0px 2px;
    }
    .modal-content {
      width: 100%;
    }
  }
  